<h4>持ってるゲーム一覧</h4>

<table class="table">
  <tr>
    <th>持ってる登録したユーザー</th>
    <th>持ってるゲームタイトル</th>
    <th></th>
  </tr>

  <% @owns.each do |own| %>
    <tr>
      <td><%= link_to "#{own.user.name}さん", admin_user_path(own.user_id) %>が</td>
      <td><%= link_to own.game.title, admin_game_path(own.game_id) %>を持ってる登録しました。</td>
    </tr>
  <% end %>
</table>

<%= link_to 'トップ画面', admin_root_path, class: "btn btn-primary mr-3"  %>