<h2>気になる登録一覧</h2>

<%= link_to 'トップ画面に戻る', root_path %>

<table>
  <tr>
    <th>お気に入り登録者</th>
    <th>気になるゲームタイトル</th>
    <th></th>
    <th></th>
  </tr>

  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.user.name %>さんは</td>
      <td><%= favorite.game.title %></td>
      <td>を気になる登録しています。</td>
      <td><%= link_to '気になる削除', favorite_path(favorite.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
    </tr>
  <% end %>
</table>