<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <span><%= comment.body %> by <%= comment.user.name %>さん</span> | 
        <%= link_to "コメント削除" ,game_comment_path(comment.game.id, comment.id), method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>