.body{
  min-height: 50vh;
  position: relative;/*←相対位置*/
  padding-bottom: 0px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header {
  top: 0;
  background-color: #fff;
  width: 100%;

  h1 {
    margin-left: 40px;
  }
}

.main-menu {
  margin-left: 50px;
}

.container {
  margin: 0 auto;
}


footer{
  width: 100%;
  background-color: blue;
  color: #fff;
  text-align: center;
  padding: 10px 0 5px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}